<h1>
 liste des utilisateurs
</h1>
<div class="row">
    <div class="col">
        <ul *ngIf="users.length > 0">
            <li *ngFor="let user of users"> 
                <p>id : {{user.id}}</p>
				<p>
				nom : {{ user.nom }}
                </p>
                <button type="button" (click)="delete(user)">delete</button>
			</li>
        </ul>
    </div>
</div>

<form #userform="ngForm">
    <label>nom</label>
    <input type="text" ngModel name="nom">

    <button type="button" (click)="add(userform.value.nom)" onclick="window.location.reload()">add</button>

</form>
