<div> maze </div>

<div *ngIf="maze==null; else gobloc" id="choicedif">

    <p>choose difficulty</p>

    <button type="button" (click)="makeMaze(9)">
        easy
    </button>

    <button type="button" (click)="makeMaze(25)">
        hard
    </button> 
    <button type="button" (click)="makeMaze(121)">
        very hard
    </button> 
</div>
<ng-template #gobloc>

    <h1>Level {{1+(difficulty-9)/2}}</h1>

    <div id="tools">
        <button type="button" (click)="makeMaze(difficulty)"> remake  </button> 
        <button type="button" (click)="findpath(false)"> path  </button> 
    </div>
    <div id="info">
        <p>{{score}}(+{{levelscore}})</p>
        <p> <span>{{time|date:'mm:ss.S'}}</span> <span>{{moves}} / {{bestmoves}}</span></p>
    </div>

    
    <div id="board">
        <table id="maze">
            <tr *ngFor="let case of maze.board" >
                <td *ngFor="let case2 of case" id="{{case2.posx}}{{case2.posy}}" class="{{case2.type}}" [ngClass]="[case2.active ? 'show' : 'hide' ,case2.isFinish ? 'finish':'', case2.isStart ? 'start':'', case2.isPlayer ? 'isplayer':'']" (click)="showcell(case2)"></td>
            </tr>
        </table>
    </div>

</ng-template>


