

table,td{
    border: 1px solid black;
    border-spacing: 0px;
}

table{
    margin: 10px;
   

}
td{
    min-width: 15px;
    height: 15px; 
}
td.path{
    background-color: black;
}
td.wall{
    background-color: grey;
}
td.bomb{
    background-color: yellow;
}
td.show{
    border-color: red;
}
td.start{
     border-color: white !important;
      background-color: yellow;
}
td.finish{
     border-color: white !important;
     background-color:red;
}
td.isplayer{
    background-color: green !important;
}
tr:hover{
    background-color: blue;
}
td:hover{
    background-color: purple ;
}
div.info{
     display: inline-block;
}

div.board{

    display:inline-block;
   margin: 0 auto;
     width: 100px; 
}