

table,td{
    border: 1px solid black;
    border-spacing: 0px;
}

table{
    margin: 10px;
   

}
td{
    min-width: 15px;
    height: 15px; 
}
td.path{
    background-color: green;
}
td.wall{
    background-color: grey;
}
td.bomb{
    background-color: yellow;
}
td.show{
    background-color: black;
}
td.start{
     border-color: yellow !important;
      background-color: yellowgreen;
}
td.finish{
     border-color: red !important;
     background-color:purple;
}
td.isplayer{
    background-color: blue !important;
}
tr:hover{
    background-color: blue;
}
td:hover{
    background-color: purple ;
}

div.board{
    

    display:inline-block;
}